// ### Primary

$LightCyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);

// ### Neutral

$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayishBlue: hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

// ## Typography

// ### Body Copy

$Fontsize: 28px; //(quote)

// ### Font

//- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
$Weights: 800;

body{
    margin:0;
    padding: 0;
    background-color: $DarkBlue;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}